@model TeamProject2.zFacility

@{
    ViewBag.Title = "Facility Details";
}

<h2>@Model.FacilityName Details</h2>

<fieldset>
    <legend>zFacility</legend>

    <div class="display-label">Facility Name</div>
    <br />
    <div class="display-field">@Model.FacilityName</div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.FacilityId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


