@model TeamProject2.zLecturer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>zLecturer</legend>

    <div class="display-label">LecturerName</div>
    <div class="display-field">@Model.LecturerName</div>

    <div class="display-label">zModule</div>
    <div class="display-field">@(Model.zModule == null ? "None" : Model.zModule.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.LecturerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


